.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

 .section-one-dance h2 {
    width: 100%;
    max-width: 35%;
    margin: 2rem auto 0.8rem;;
    font-weight: 700;
}

.section-one-dance p {
    font-size: 12px;
    font-weight: 400;
}
  .video-container {
    position: relative;
    display: flex;
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 2;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2rem;
    padding: 15px 20px;
    border-radius: 50%;
}


video {
    width: 100%;
    height: auto;
    display: block; 
}

.first-cta {
    margin: 15px auto;
    align-items: center;
}

.first-cta button {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #204309, #3d850e, #08f304);
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

.shakeme {
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-name:shakeMe;
    animation-timing-function:linear;
    backface-visibility:hidden;
    transform:translateZ(0)
  }

  @keyframes shakeMe{18%,2%{transform:translate3d(-5px,0,0)}16%,4%{transform:translate3d(5px,0,0)}10%,14%,6%{transform:translate3d(-5px,0,0)}12%,8%{transform:translate3d(5px,0,0)}18.1%{transform:translateZ(0)}}
  
  /* .benefit-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    width: 142px;
    height: 8px;
    border-radius: 1px;
    background: linear-gradient(98deg, #DB0FDB -5.25%, #A108A7 93.97%);
    box-shadow: 0px 100px 80px 0px rgba(219, 15, 219, 0.31),
        0px 41.778px 33.422px 0px rgba(219, 15, 219, 0.22),
        0px 22.336px 17.869px 0px rgba(219, 15, 219, 0.18),
        0px 12.522px 10.017px 0px rgba(219, 15, 219, 0.16),
        0px 6.65px 5.32px 0px rgba(219, 15, 219, 0.13),
        0px 2.767px 2.214px 0px rgba(219, 15, 219, 0.09);
} */

.section-depoim {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 1rem;
  background: #0C041C;

}
.section-depoim h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  width: 50%;
  text-align: center;
}

.section-bene H2 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  width: 60%;
  text-align: center;
  margin: 5rem 0;
}
.videos-depoim {
  padding: 2rem 0;
  width: 100%;
  max-width: 800px;
}

.videos-depoim-item {
  padding: 2rem
}

.videos-depoim-item video {
  border-radius: 10px;
}

.section-depoim button {
  max-width: 40rem;
  height: 5rem;
  width: 100%;
  background: linear-gradient(to right, #204309, #3d850e, #08f304);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  transition: all 300ms;
}

.section-depoim button:hover {
  background: linear-gradient(to right, #08f304, #3d850e, #204309);
  transform: scale(1.1);
  animation: none;
}

.section-publico-alvo {
  padding: 5rem;
}

.section-publico-alvo h3 {
  margin: 2rem;
  font-size: 38px;
  font-weight: 700;

}

.section-publico-alvo h3 span {
  background: linear-gradient(to right, #4F01CA, #DB0FDB);
  background-clip: text;
  color: #ffffff0a;
}


.section-garantia {
  background: #0C041C;
  padding: 8rem 0;
  color: #fff;
}
.section-garantia h3 {
  font-size: 45px;
  padding: 0;
}

.section-garantia p {
  font-size: 20px;
  font-weight: 200;
  width: 50%;
  margin: 0 auto;

}
.section-garantia p b {
  font-weight: 600;

}

.section-garantia img {
  width: 100%;
  max-width: 500px!important;
}

.guarantee-7-dias {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.section-valor {
  background: #0C041C;
  padding: 8rem 0;
  color: #fff;
}

.section-valor h3 {
  background: linear-gradient(to right, #4F01CA, #DB0FDB 75%);
  background-clip: text;
  color: #ffffff0a;
  font-size: 60px;
  font-weight: 600;
}


.img-oferta {
  width: 100%;
  max-width: 400px!important;
  margin: 0 auto 2rem!important;
}

.tag-discount {
  margin: 0 auto 7px;
  background: #DB0FDB;
  max-width: max-content;
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: 700;
}

.price-ant {
  margin: 20px 0 5px;
  font-size: 25px;
  font-weight: 400;
}

.price-ant span {
  margin: 20px 0 5px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: line-through;
  text-decoration-color: #db0fdb;
}

.price-card button {
  max-width: 25rem;
  height: 5rem;
  width: 100%;
  background: linear-gradient(to right, #204309, #3d850e, #08f304);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  transition: all 300ms;
  animation: pulse 1.2s infinite ease-in-out;
}

.price-card button:hover {
  animation: none;
  transform: scale(0.98);
}

.price-card h4 {
  margin: 4rem 0 10px;
  font-size: 20px;
}

.img-garantia-final{
  width: 100%;
  max-width: 20rem!important;
}

.countdown-container {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 8px 10px;
  background-color: #ff4747;
  color: white;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 8px; /* Espaço entre o ícone e o texto */
}

.countdown-timer {
  font-size: 40px;
  font-weight: bold;
}

.countdown-icon {
  width: 36px;
  height: 36px;
}

#faqAccordion {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.section-faq {
  background-color: #0C041C;
  color: #fff;
  padding: 50px 20px;
}

.accordion-button {
  background-color: #1e1334;
  color: #fff;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
}

.accordion-button:not(.collapsed) {
  background-color: #1A0E2D;
  color: #fff;
  border-radius: 8px!important;
}

.accordion-body {
  background-color: #0c041c;
  color: #fff;
  font-size: 15px;
  font-weight: 200;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item {
  border: none!important;
  background-color: transparent!important;

}

.accordion-item .accordion-button {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url(/svg/down.svg)!important;
}

.accordion-button:focus {
  color: #DB0FDB!important;
}

.img-faq {
  position: relative;
  width: 20%;
  bottom: 9rem;
  left: 40%;
  padding: 0;
  z-index: 0;
  margin: 0 0 -8rem;
}

@media (max-width: 425px) {
  .img-faq {
    width: 55%;
    bottom: 8rem;
    left: 24%;
  }
  .text-copy {
    font-size: 12px;
  }
}