.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-height: max-content;
}

.card-title {
  min-height: 40px;
  color: #383838;
  font-size: 14px!important;
  min-height: 40px;
  color: #383838;
  font-size: 14px !important;
  text-decoration: none !important;
  transition: all 150ms ease-in-out;
  transform-origin: center;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal; 

}



.card-title {
  position: relative;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-title:hover {
  position: absolute;
  background: white;
  z-index: 10;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  max-width: 300px;
  color: #9b7003;
}



.stars {
display: inline-block;
font-size: 1rem;
color: rgb(236, 155, 4);
}
.rating-text {
color: #383838;
font-size: 13px;
}

.card {
  width: 100%; 
  max-width: 250px; 
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.img-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}



.card-img, .card-img-top {
  border-radius: 0!important;
}

.img-prod {
  transition: all 150ms ease-in-out;
}

.logo-brand {
  max-width: 70px;
  width: 100%;
  z-index: 9;
  margin: 0  auto;
}

.img-prod:hover {
  transform: scale(1.05)!important;
}