.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}


body {
  background: #ffffff!important;
  font-family: "Poppins", serif!important;
}

p {
  color: #333!important;
}

a { 
  text-decoration: none!important;
}

a:hover { 
  text-decoration: underline!important;
  text-decoration-color: #99999a!important;
}

input::placeholder {
  color: rgba(182, 182, 182, 0.507)!important;
}
textarea::placeholder {
  color: rgba(182, 182, 182, 0.507)!important;
}

.header-main {
  background-color: #000;
}
@media (max-width: 425px) {
  .header-main {
    padding: 0 1rem;
    background-color: #000;
    box-shadow: 1px 20px 420px 100px rgb(42 34 8 / 60%);
  }
}

@media (max-width: 425px) {
  .brand-logo {
    display: flex;
    width: 180px;
  }
}

#nav-desk {
  display: block;
}
@media (max-width: 425px) {
  #nav-desk {
    display: none;
  }
}

#nav-mobi {
  display: none;
}
@media (max-width: 425px) {
  #nav-mobi {
    display: block;
  }
}

.nav {
  max-width: 1320px;
  padding: 1.2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-betweens;
}
@media (max-width: 425px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}
.nav .nav-item a {
  color: #99999a;
  font-size: 1.12rem;
  font-weight: 400;
  transition: 150ms linear;
}
.nav .nav-item a:hover {
  color: #38acff;
  transform: scale(1.05);
}
.nav i {
  color: #38acff;
}
.nav i:hover {
  background-color: #38acff;
  color: #000;
}
.nav ul .dropdown-item {
  color: #99999a;
}
.nav ul .dropdown-item:hover {
  color: #000;
  background-color: #38acff;
}

.hidden-icon {
  display: none;
}
@media (max-width: 425px) {
  .hidden-icon {
    display: block;
    font-size: 40px;
  }
}

.slide-show-desk {
  margin-top: 6.7rem;
  display: block;
}
@media (max-width: 425px) {
  .slide-show-desk {
    display: none;
  }
}

.main-content {
  padding-top: 80px;
}

.slide-show-mobi {
  display: none;
}
@media (max-width: 425px) {
  .slide-show-mobi {
    margin-top: 20%;
    display: block;
    margin-bottom: 15%;
  }
}

.title-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: #1d1d1d;
  position: relative;
  max-width: max-content;
  text-align: center;
}


.title-section::after {
  content: '';
  position: absolute;
  background: linear-gradient(140deg, #9a6f12 0%, #9a6f12 15%, #9a6f126b 45%, rgb(78 11 11 / 0%) 74%, rgb(3 6 19 / 0%) 99%);
  height: 5px;
  width: 100%;
  bottom: 0;
  border-radius: 5px;
}


.slide-container {
  width: 100%;
  max-width: 1200px;
  background: none;
  padding: 30px 20px;
  margin: 0 auto 200px auto;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: #fff;
    border-radius: 0;
    position: relative;
    bottom: 0;
}


@media (min-width: 425px) {
  .card-slide {
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
    width: 280px !important;
  }
}

@media (max-width: 425px) {
  .card-slide {
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
  }
  
}

.card-slide .card-body .info-purchase-price {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 0 0 -25px 0;
  text-align: center;
}

.card-slide .card-body .card-title {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
.card-slide img {
  border-radius: 10px 10px 0 0;
}

.card {
  border-radius: 20px !important;
  transform: scale(0.95);
  background: none!important;

}
.card button {
  background-color: #38acff;
  color: #000;
  width: 100%;
  height: 60px;
  margin: 30px auto 0;
  transition: 150ms linear;
}
.card button:before {
  content: "BAIXAR ESTA AULA";
  font-size: 18px;
  font-weight: 600;
}
.card button:hover {
  background-color: #f8a916;
}

.hidden-button-banner {
  visibility: hidden;
}

.fa-chevron-circle-left:before, .fa-circle-chevron-left:before {
  font-size: 45px;
  color: #38acff !important;
  box-shadow: -120px 0 300px 80px #000;
  border-radius: 50%;
  transition: 150ms linear;
  font-weight: 900;
  margin: 0 0 0 50% !important;
}

.fa-chevron-circle-right:before, .fa-circle-chevron-right:before {
  font-size: 45px;
  color: #38acff !important;
  border-radius: 50%;
  transition: 150ms linear;
  font-weight: 900;
}

.swiper-button-next:hover .fa-circle-chevron-right::before {
  color: #ffffff !important;
  font-size: 60px;
  box-shadow: 120px 0 300px 80px #38acff;
}

.swiper-button-prev:hover .fa-circle-chevron-left::before {
  color: #ffffff !important;
  font-size: 60px;
  box-shadow: -120px 0 300px 80px #38acff;
}

@media (max-width: 425px) {
  .fa-chevron-circle-right:before, .fa-circle-chevron-right:before {
    box-shadow: none;
  }
  .fa-chevron-circle-left:before, .fa-circle-chevron-left:before {
    box-shadow: none;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "next";
  visibility: hidden !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after {
  content: "prev";
  visibility: hidden !important;
}

.swiper {
  padding: 80px !important;

}
@media (max-width: 425px) {
  .slide-container {
    width: 100%;
    max-width: 1200px;
    background: none;
    padding: 30px 20px;
    margin: 0px auto 80px;
  } 
  .swiper {
    padding: 50px 0px !important;
  }
}

.swiper-pagination-bullet-active {
    opacity: 1!important;
    background: #38acff!important;
}

footer {
  color: #38acff;
  background-color: #000;
  padding: 50px;
  font-size: 12px;
}
footer div hr {
  margin-bottom: 80px !important;
}
@media (max-width: 425px) {
  footer {
    display: block!important;
    padding: 2rem 1rem;
  }

  .col-content {
    margin: 2rem 0;
    text-align: center!important;
  }

  .col-content h2 {
    font-size: 18px;
    text-transform: uppercase;
  }

  .col-content i {
    font-size: 25px;
    color: #a3a3a3 !important;
  }
  

}

.col-content h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.col-content ul {
    padding: 0;
}


.col-content i {
  font-size: 25px;
  color: #a3a3a3 !important;
}

.col-content a {
  color: #a3a3a3 !important;
}

.right-reserved {
  background: #000;
  margin: 0!important;
  padding: 10px;
  font-size: 15px;
}

.right-reserved p {
  color: #969696!important;
}


.ads-shopee img {
  transition: transform 0.3s ease-in-out;
}

.ads-shopee:hover img {
  transform: scale(1.05);
  overflow: hidden;
} 

.list-group-item {  
  position: relative; 
}

.ads-shopee {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2px 10px!important;
}

.item-ads-shopee {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s linear 1s;
  overflow: hidden;
  border: 1px solid #878787ab;
  z-index: 0;
}

.item-ads-shopee.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 1s ease-in-out, visibility 0s linear 0s;
}

.ads-afiliate {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2px 10px!important;
}

.item-ads-afiliate {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s linear 1s;
  overflow: hidden;
  border: 1px solid #878787ab;
  z-index: 0;
}

.item-ads-afiliate.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 1s ease-in-out, visibility 0s linear 0s;
}

.h4-ads {
  color: #4b4b4b;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  z-index: 9;
  top: 30px;
  left: 5px;
}

.h3-bloco {
  margin: 5rem 0 1.5rem;
  font-size: 25px;
  font-weight: 800;
  font-family: "Poppins", serif;
}

.social-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "p";
}

@media (max-width: 425px) {
  .social-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .social-media {
    align-items: center;
    gap: 45px;
    flex-direction: row;
  }
}

.partner-companies {
  justify-content: flex-end;
  flex-direction: row;
}
.partner-companies-itens {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #444444e8;
  padding: 0 60px;
}
.partner-companies h2 {
  color: #fff;
  font-size: 12px;
  margin: 5px 0;
}
.partner-companies-mobile {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin: 30px 0 0;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 425px) {
  .partner-companies-itens {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    border: none!important;
  }
  .partner-companies-mobile h2 {
    color: #fff;
    font-size: 12px;
    margin: 0 0 7px 0!important;
  } 
}

.partner-companies-mobile h2 {
  color: #fff;
  font-size: 12px;
  margin: 0;
}
footer .social-media {
  gap: 25px;
  justify-content: flex-end;
}
footer .social-media-item {
  transition: 300ms all;
}
footer nav a {
  transition: 300ms all;
}
footer nav a:hover {
  color: #99999a!important;
  transform: scale(1.05);
}
footer svg {
  transition: 300ms all;
}
footer svg:hover {
  color: #99999a;
  transform: scale(1.2);
}
footer .link-juridicos {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}
footer .link-juridicos .link-juridicos-content {
  margin: 0 auto;
}
footer .link-juridicos .link-juridicos-content ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

@media (max-width: 425px) {
footer .link-juridicos .link-juridicos-content ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    gap: 5px;
  }
}

.links-comuns {
  display: flex;
  gap: 50px;
}
@media (max-width: 425px) {
  .link-juridicos {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .link-juridicos-content {
    margin: 0 auto;
    list-style: none;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .links-comuns {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0 auto;
    gap: 20px;
  }
}

.bar-gradient-header {
  background: linear-gradient(140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
  display: flex;
  height: 4.5px;
  width: 100%;
}

.bar-gradient-footer {
  background: linear-gradient(-140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
  display: none;
  height: 4.5px;
  width: 100%;
}

@media (max-width: 425px) {
  .footer-inner-collapse-mobile {
    display: flex;
    position: absolute;
  }
  .bar-gradient-footer {
    display: none;
  }
  .bar-gradient-negative-footer-mobile {
      background: linear-gradient(-140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
      display: flex;
      height: 2.5px;
      width: 100%;
  }
  .bar-gradient-positive-footer-mobile {
      background: linear-gradient(140deg, rgb(255, 193, 7) 0%, rgb(174, 109, 11) 15%, rgb(55, 35, 5) 45%, rgb(78, 11, 11) 74%, rgb(3, 6, 19) 99%);
      display: flex;
      height: 2.5px;
      width: 100%;
  }
}

.footer-collapse-mobile {
  display: none;

}

.footer-address {
  display: none;
}

.text-address-footer {
  color: #fff!important;
}

.text-blue {
  color: #313131!important;
}

.separador {
  background-color: #38acff!important; 
}

#shopify-desktop {
  display: flex;
}
#shopify-mobile {
  display: none;
}

@media (max-width: 425px) {
  #shopify-desktop {
    display: none;
  }
  #shopify-mobile {
    display: flex;
    width: 100%;
    border-radius: 20px;
  }
  .footer-collapse-mobile {
    display: flex;
    color: #fff;
    flex-direction: column;
    background: #0e0e0e;
  }
  .footer-address {
    font-size: 0.7rem!important;
    text-align: center;
    padding: 32px!important;
    margin: 0!important;
    display: flex;
    background: #0e0e0e;
    color: #fff;
  }

}

.btn--mobile{
  display: flex;
}

.btn-collapse-mobile {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  color: #38acff!important;
  margin: 0 auto;
  background-color: #0e0e0e;
  justify-content: center;
}



/* pagina Sobre - text-pages  */
.main-content-text-pages {
  margin: 200px 0 50px;
}

.text-pages-container {
  display: block;
  margin: 75px auto 150px;
  max-width: 850px;
  color: #131313;
  line-height: 2rem;
}

.text-pages-content {
  color: #131313;
  line-height: 2rem;
  text-align: justify;
}

@media (max-width: 425px) {
.text-pages-content {
  padding: 0 30px;
}
.contact-content {
  width: 80%!important;
}
.subtitle-section h2 {
  font-size: 15px!important;
}
.title-section h1 {
  font-size: 35px;
}
}

.text-pages-text {
 display: block;
}

.contact-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.subtitle-section {
  display: flex;
  justify-content: center;
  margin: 60px 0 10px;

}

.subtitle-section h2 {
  color: #161616;
  font-size: 1.3rem;
}

.contact-content {
  width: 40%;
  height: 100%;
  max-height: 800px;
  padding: 50px 25px;
}

.email-adress {
  display: block;
}


@media (min-width: 425px) {
  .presentation {
    padding: 180px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-perfil {
  width: 25%;
  border-radius: 20px;
}

.presentation h1 {
  color: #38acff;
  font-size: 25px;
}
.presentation h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  margin: 0 0 40px 0;
}
.presentation-texts {
  padding: 0;
}
.my-services {
  background: #fff;
  margin: 0 0 2rem;
}
.my-partners h2 {
  color: #ffffff;
}
.partners-p {
  font-size: 20px;
  font-style: italic;
}
.my-partners {
  margin: 0 0 5rem;
}
}

.img-suporte {
  width: 700px;
}

@media (max-width: 425px) {
  .presentation {
    flex-direction: column-reverse;
    padding: 130px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .img-perfil {
    width: 90%;
    border-radius: 20px;
  }
    .presentation-texts {
      padding: 20px;
  }
  .presentation h1 {
    color: #38acff;
    font-size: 20px;
  }
  .presentation h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    line-height: 35px;
    margin: 0 0 20px 0;
  }
  .my-services {
    background: #fff;
    margin: 0 0 2rem;
  }
  .my-partners h2 {
    color: #ffffff;
  }
  .partners-p {
    font-size: 20px;
    font-style: italic;
  }
  .my-partners {
    margin: 0 0 5rem;
  }
  .w-70 {
    width: 70%!important;
  }
}

#navbarNav {
  font-size: 15px;
  font-weight: 600;
  color: #000!important;
}

#logo-text {
  font-size: 18px;
  font-weight: 600;
  color: #000!important;
}

#logo-text img {
  width: 100%;
  max-width: 200px;
}

#top-bar-wrap {
  position: relative;
  background-color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #f1f1f1;
  z-index: 101;
}

#top-bar {
  padding: 20px;
}

#top-bar-inner {
  position: relative;
  display: flex;
  align-items: center;
}

#top-bar-social.top-bar-right {
  position: absolute;
  top: 50%;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
}

#top-bar-content, #top-bar-social-alt {
  font-size: 12px;
  line-height: 1.8;
}

#top-bar-content a {
  color: #000000d1;
  text-decoration: none;
}

.top-bar-left {
  float: left;
}

.col:after, .clr:after, .group:after, dl:after, .left_float:after, .right_float:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
  height: 0;
}

#top-bar-social.top-bar-right {
  position: absolute;
  right: 0;
  top: 50%;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
}

#wrap {
  position: relative;
}

#top-bar-social ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  gap: 8px;
  display: flex;
}

#top-bar-social li {
  float: left;
}

#top-bar-social li a {
  color: #000000d1;
}

.title-videos-aside {
  color: #353535;
  text-decoration: none!important;
  line-height: 20px;
  margin: 1rem 0;
}

#info-post {
  display: flex;
  font-size: 14px;
  padding: 0;
  gap: 10px;
  list-style: none;
  color: #3e3e3ed9;

}


.destaques h2 {
  text-align: left!important;
  font-size: 22px;
  font-weight: 600;
  background: #a90606;
  padding: 0.8rem 1rem;
  max-width: max-content;
  color: #fff;
  border-bottom: 1px solid #a90606;
}

.destaques2 h2 {
  text-align: left!important;
  font-size: 22px;
  font-weight: 600;
  background: #132aff;
  padding: 0.8rem 1rem;
  max-width: max-content;
  color: #fff;
  border-bottom: 1px solid #132aff;
}

.section-destaques {
  margin: 0 0 8rem 0;
}

.hr2-2 {
  color: #132aff;
  height: 1px;
  margin: -1.5rem 0 2rem;
  padding: 0;
}

.section-destaques a {
  color: #333;
  font-size: 25px;
  font-weight: 600;
  transition: all 300ms;
}

.section-destaques a:hover {
  color: #a90606;
  text-decoration: none!important;
  font-size: 25.5px;
}

.section-destaques p {
  color: #5f5f5fe6;
}

@media (max-width: 425px) {
  .dropdown-menu {
    max-width: 22rem;
    overflow: scroll;
  }
  .section-destaques img {
    width: 100%;
  }

#info-post {
  font-size: 10px;
  gap: 5px;
}

#top-bar {
  padding: 8px 1rem;
}
.content-destaques {
  flex-direction: column;
}

.content-destaques h3 {
  margin: 1.2rem 0 0.5rem!important;
}

}

#top-bar-search {
    position: absolute;
    right: 0;
    bottom: -8px;
}

.btn-primary {
  background: #9a6f12!important;
  border: none!important;
}

.form-control:focus {
  border-color: #9a6f12!important;
  box-shadow: 0 0 0 3px #9a6f1240 !important;
}


.hidden-text ul {
  list-style: none;
}

#toggle-button {
  display: inline-block;
  background: none;
  color: rgb(124, 32, 32);
  border: none;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: underline;
  font-weight: 600;
}

#toggle-button:hover {
  color: rgb(173, 39, 39) ;
}

.border-section {
  border: 1px solid #7070706b;
}

.border-section a:hover {
  color: #333!important;
  font-size: 25px!important;
  text-decoration: underline!important;
}

.width-me {
  width: 80%!important;
  transition: all 300ms;
}
.width-me:hover {
  transform: scale(1.14);
}

.hr-2 {
  margin: -1.5rem 0 2rem;
}

.p-shopee {
  padding: 0 8px;
  position: absolute;
  z-index: 9;
  font-size: 12px;
  color: #e35016 !important;
  top: 96%;
  left: 42%;
  background: #fff;
}

.p-qrcode {
  color: #fff!important;
  margin: 0 25px;
  font-weight: 200;
}

#btnTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  background-color: #dc3545db;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 10px 3px rgb(219 46 46 / 43%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#btnTopo:hover {
  background-color: #c22033;
  transform: scale(1.1);
}

.slide-afiliate {
  margin: 35rem 0 0!important;
}

.dropdown-item {
  font-weight: 600!important;
  color: #555!important;
  text-transform: capitalize!important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: #e3bd6a!important;
  text-decoration: none!important;
}





.banner-slim {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  position: relative;
  display: none;
  justify-content: center;
  margin: 0 auto 10rem;
}

.banner-visible {
  opacity: 1;
  display: flex;
}

.close-banner {
  position: absolute;
  top: 5px;
  right: 100px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffffb5;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
}


.close-banner:hover {
  background: rgba(78, 78, 78, 0.9);
  transform: scale(1.05);
}



.dropdown-menu .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}


.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}



@media (min-width: 992px) {
  .dropdown-submenu:hover > .dropdown-menu {
      display: block;
  }
}

.bg-greem-destaques {
    background: #2e8140!important;
    border: none!important;
}